body {
  margin: 0;
  font-family: "Helvetica", Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(238,235,208);
  background: linear-gradient(90deg, rgba(238,235,208,1) 0%, rgba(183,156,237,1) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  cursor: pointer;
}